
@model Portfolio_v2.Models.Post

@{
    ViewBag.Title = "Details";
}


<br />
<br />
<br />

<section style="background-color:#ffe401" id="blog-details">
    <div class="container-fluid">
        <div class="row blog-item">
            <div class="col-sm-2 text-center">
                 @if (Model.MediaUrl != null)
                 {
                     <img class="img-responsive" src="@Model.MediaUrl" alt="">
                     <hr>
                 }
                <i class="fa fa-clock-o"></i>
                <p class="date"><span>@Model.Created.ToString("D")</span>
            </div>
        </div>

        <div class="col-sm-12 blog-content">

            <h2>BLOG POST</h2>
            <div class="entry-meta">
                @Html.ActionLink("Posted by Admin", "Edit", new { id = Model.Id }, new { @class = "fa fa-user" })
                <a href="@Url.Action("Details",new {slug = Model.Slug})">@Model.Title</a>
                <span><a href="@Html.ActionLink("Index", "Comments")"><i class="fa fa-comment"></i></a></span>
            </div>
        </div>
        <div style="color: #000" class="entry-post">
            @Model.Body
        </div>
        <div class="social-share">
            @Model.MediaUrl
        </div>
        <div class="comments-login">
            @Html.ActionLink("Login Comments", "Login", "Account", null, new { @class = "btn btn-default" })
        </div>
        <div class="post-comment">
            @foreach (var c in Model.Comments)
            {
                @c.Author.Email
                @c.Created
                @c.Body
            }
        </div>
    </div>
</section>

<footer id="footer">
    <div class="bottom default-bg text-center">
        <div class="container text-center">
            
        </div>
    </div>
</footer>
<script src="~/js/jquery.js"></script>
<script src="~/js/bootstrap.min.js"></script>



    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
