@model IEnumerable<Portfolio_v2.Models.CodeFirst.Post>

@{
    ViewBag.Title = "Index";
}


<br/>
<br/>
<br/>
<br/>
<div class="container">
    <form>
        <div class="search-bar">
            @using (Html.BeginForm())
            {
                @Html.TextBox("SearchText")
                <input type="submit" value="Search" class="search-button"/>

            }

        </div>
    </form>
    <h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create", null, new {@class="btn btn-default"})
</p>
@foreach (var item in Model)
{
    <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="single-blog wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="400ms">
            @*<div class="blog-image">
                <a href="single-blog.html"><img class="img-responsive" src="~/images/blog/post2.jpg" alt="" /></a>
                <div class="post-date">
                    <p>28<span>April</span></p>
                </div>
            </div>*@
            <div class="entry-content default-bg">
                <a href="single-blog.html">
                    <h2>Standard post with preview picture</h2></a>
                <div class="entry-meta">
                    <span><a href="#"><i class="fa fa-user"></i> Posted By: Admin</a></span>
                    <span><a href="#"><i class="fa fa-comments"></i> 7</a></span>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                <a href="single-blog.html" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    }
</div>
      
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
            }
        </table>
